h1 {
    text-align: center;
    color: blue;
	font-family:Segoe Script;
	border:10px solid #abc123;
	background-color:#adc578;
	width:300px;
	font-size:25px;
}

body {
    background-color: #adf578;
}
a{
text-decoration:none;
}
p{
text-align:center;
}
span p{
color:yellow;
}